.backgroundContact{
    background-color:  #f5f7fa;
}
.containerContact{
    display: flex;
    flex-direction: row;
    gap: 14em;
    margin: 0 15%;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
    color:rgb(137,49,97);
}
.contact{
    display: flex;
    justify-content: flex-start;
    width: 40%;
}
.contact form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    width: 100%;
  }

  .contact form input[type="text"],
  .contact form input[type="email"],
  .contact form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .contact form textarea {
    height: 150px;
  }
  
  button{
    width: 8em;
    margin: 5% 5% 5% 0%;
    padding: 1%;
    border: 0;
    background: rgb(137,49,97);
    color: white;
    border-radius: 1em;
    font-weight: bold;
}
.logoContact{
    display: flex;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background: rgb(137,49,97);
    background: linear-gradient(151deg, rgba(137,49,97,1) 0%, rgba(27,24,51,1) 100%);
}
img{
    width: 90%;
    margin: 10%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 767px){
    .hide{
        display: none;
        z-index: 0;
        opacity: 0;
    }

    .contact{
        display: flex;
        width: 100%;
    }

    form > button{
        margin: 0;
        width: 50%;
        margin-left: 25%;
    }

    .contact form input[type="text"],
    .contact form input[type="email"],
    .contact form textarea {
      width: 95%;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .containerContact{
        display: flex;
        flex-direction: row;
        margin: 0 10%;
        gap: 20%;
        align-items: center;
        justify-content: space-around;
    }
    .contact{
        display: flex;
        justify-content: flex-start;
        width: 53%;
    }
    .logoContact{
        display: flex;
        justify-content: center;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        background: rgb(137,49,97);
        background: linear-gradient(151deg, rgba(137,49,97,1) 0%, rgba(27,24,51,1) 100%);
    }
    img{
        width: 90%;
        margin: 10%;
        height: auto;
        object-fit: contain;
    }


}