header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 2%;
}
.imgLogo{
    width: 28%;
    margin: 3%;
    height: auto;
    object-fit: contain;
}

h1{
    text-align: center;
    margin: 0;
    font-size: 4vw;
}

header p{
    margin: 0;
    text-align: center;
    font-size: 2vw;
}

header button{
    margin-top: 2em;
    width: 12em;
    margin: 5%;
    padding: 2%;
    border: 0;
    background: rgb(137,49,97);
    color: white;
    border-radius: 1em;
    font-weight: bold;
}

@media (max-width: 767px){
    .background{
        height: 96vw;
        border-bottom-right-radius: 8vw;
        border-bottom-left-radius: 8vw;
    }

    header{
        margin-top: 2%;
    }

    .imgLogo{
        width: 60%;
    }

    h1{
        text-align: center;
        margin: 0;
        font-size: 8vw;
        padding-top: 1%;
    }
    
    header p{
        margin: 0;
        text-align: center;
        font-size: 4.5vw;
        padding-top: 4%;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    header{
        margin-top: 0;
        height: 100%;
    }
    .imgLogo{
        width: 40%;
    }
    h1{
        text-align: center;
        margin: 0;
        font-size: 7vw;
    }
    header p{
        margin: 0;
        text-align: center;
        font-size: 4vw;
    }

}
