header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.imgLogo{
    width: 50%;
    margin: 10%;
    height: auto;
    object-fit: contain;
}
h1{
    text-align: center;
    margin: 0;
}

h3{
    margin: 0;
}