h3{
    text-align: center;
    font-size: xx-large;
    margin: 1em;
}
.partners{
    background-color:  #f5f7fa;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgPartners{
    object-fit: contain;
    height: fit-content;
}



@media screen and (min-width: 1024px) {
    h3{
        text-align: center;
        font-size: xx-large;
        margin: 1em;
    }
    .partners{
        background-color:  #f5f7fa;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    .imgPartners{
        content: url('../IMG/clientes-prueba\ 1.png');
        object-fit: cover;

    }

}

