.containerServices{
    height: 100%;
    background-color: #f5f7fa;
    padding-bottom: 2%;
}
.containerServices > h2{
    margin: 0 0 3% 0;
    text-align: center;
    font-size: xx-large;
}

#titleServices{
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: xx-large;  
}
.backgroundServices{
    margin-top: 3%;
    margin-bottom: 3%;
    background: linear-gradient(151deg, rgba(137,49,97,1) 0%, rgba(27,24,51,1) 100%);
    
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin: 0;
    gap: 10px;
    padding-bottom: 4%;
    margin: 0% 10% 0% 10%;
}

.service{
    padding: 2%;
    color: white;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: /*35vh*/ 96%;
    width: 96%;
    background: linear-gradient(151deg, rgba(137,49,97,1) 0%, rgba(27,24,51,1) 100%);
}

.subtitle{
    font-size: 1.5vw;
    font-weight: bold;
}

.icon{
    width: 20%;
    object-fit: contain;
}
.content{
    font-size: 1vw ;
}

@media (min-width: 768px) and (max-width: 1199px){
    .services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .service{
        height: 94%;
        width: 70%;
    }

    .service > .icon{
        width: 20%;
        object-fit: contain;
        margin: 2%;
    }

    .content{
        font-size: 1.5vw ;
    }
}
@media (max-width: 767px){
    .services{
        display: flex;
        flex-direction: column;
    }

    .service{
        height: 80%;
        width: 85%;
    }

    .content{
        font-size: 5vw;
    }

    .service > .icon{
        width: 20%;
        object-fit: contain;
        margin: 2%;
    }

    .subtitle{
        font-size: 6vw;
        font-weight: bold;
    }
}