.containerServices{
    height: 100%;
    background-color: #f5f7fa;
    padding-bottom: 3%;
}

#titleServices{
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: xx-large;  
}
.backgroundServices{
    margin-bottom: 3%;
    background: linear-gradient(151deg, rgba(137,49,97,1) 0%, rgba(27,24,51,1) 100%);
    
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin: 0;
    gap: 20px;
    margin: 0% 10% 0% 10%;
    padding: 2% 5% 2% 5%;
    background: linear-gradient(151deg, rgba(137,49,97,1) 0%, rgba(27,24,51,1) 100%);
    border-radius: 20px;
}

.service{
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: /*35vh*/ 96%;
    width: 96%;
    border-radius: 15px;
}
.service:before{
    width: 100%;
    height: 100%;
    content: "";
    box-sizing: border-box;
    border-top: 4px solid white;
    transform: scaleX(0);
    transition: transform 0.2s ease-out;
}

.service:hover:before{
    transform: scaleX(1);
}

.service:after{
    width: 100%;
    height: 100%;
    content: "";
    box-sizing: border-box;
    border-bottom: 4px solid white;
    transform: scaleX(0);
    transition: transform 0.2s ease-out;
}

.service:hover:after{
    transform: scaleX(1);
}
.service img{
    margin: 10% 0% 0% 0%;
}

.subtitle{
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 3%;
}

.icon{
    width: 20%;
    object-fit: contain;
}
.content{
    font-size: 1vw ;
    margin-top: 1%;
}

@media (min-width: 768px) and (max-width: 1199px){
    .services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .service{
        height: 94%;
        width: 70%;
    }

    .service > .icon{
        width: 20%;
        object-fit: contain;
        margin: 2%;
    }

    .content{
        font-size: 1.5vw ;
    }
}
@media (max-width: 767px){
    .services{
        display: flex;
        flex-direction: column;
        margin: 0;
        background: #f5f7fa;
    }

    .service{
        height: 45vh;
        width: 100%;
        background: linear-gradient(151deg, rgba(137,49,97,1) 0%, rgba(27,24,51,1) 100%);
        border: 5vw;
    }

    .content{
        font-size: 5vw;
    }

    .service > .icon{
        width: 20%;
        object-fit: contain;
        margin: 2%;
    }

    .subtitle{
        font-size: 6vw;
        font-weight: bold;
    }
    #titleServices{
        text-align: center;
        font-size: 6vw; 
    }
}